.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.pageRegister {
    height: 90%;
    margin-top: 1%;
}


    .btn:hover {
        transform: scale(1.05);
    }